<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 9 | Study Section | LegalAid</title>
   <!-- importing css file -->
    <link rel="stylesheet" href="chapter.css">

    <!-- for google translate -->

    <!-- Include the Google Translate API script -->
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- importing js file -->
    <script src="LegalAid.js"></script>

</head>
</head>
<body>
    <header>
        <h1 class="notranslate">LegalAid</h1>
    </header>

    <div id="google_translate_element"></div>
    <nav class="nav">
        <div class="nav-left">
            <button onclick="window.location.href='index.html'">Home</button>
            <button onclick="window.location.href='About_us.html'">About Us</button>
            <button onclick="window.location.href='help_portal.html'">Help</button>
            <button onclick="window.location.href='payment_form.html'">Payment</button>
            <button onclick="window.location.href='login_page.html'">Login</button>
        </div>
        <div class="search-bar-container">
            <input type="text" placeholder="Search Chapter" class="search-bar">
            <button type="submit" class="search-button">Search</button>
        </div>
    </nav>
    
    <main>
        <section>
            <fieldset>
                <a style="font-size: 23px;">Chapter 9 – OF OFFENCES RELATING TO ELECTIONS </a>
            
                <div class="popup" id="popup169">
                    <span class="popup-close" onclick="hidePopup('popup169')">Close</span>
                    <div class="popup-content">
                        <p> <a>Section 169</a>
                            <br>  For the purposes of this Chapter—
                            <br>(a) “candidate” means a person who has been nominated as a candidate at any
                            election;
                            <br>(b) “electoral right” means the right of a person to stand, or not to stand as, or to
                            withdraw from being, a candidate or to vote or refrain from voting at an election.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup169')"><h4>Section 169:- Candidate, electoral right defined.</h4></a>
            
                <div class="popup" id="popup170">
                    <span class="popup-close" onclick="hidePopup('popup170')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 170</a>
                        <br> (1) Whoever—
                        <br>(i) gives a gratification to any person with the object of inducing him or any
                        other person to exercise any electoral right or of rewarding any person for having
                        exercised any such right; or
                        <br>(ii) accepts either for himself or for any other person any gratification as a
                        reward for exercising any such right or for inducing or attempting to induce any other
                        person to exercise any such right,
                        <br>commits the offence of bribery:
                        <br>Provided that a declaration of public policy or a promise of public action shall not be an
                        offence under this section.
                        <br>(2) A person who offers, or agrees to give, or offers or attempts to procure, a gratification
                        shall be deemed to give a gratification.
                        <br>(3) A person who obtains or agrees to accept or attempts to obtain a gratification shall
                        be deemed to accept a gratification, and a person who accepts a gratification as a motive for
                        doing what he does not intend to do, or as a reward for doing what he has not done, shall be
                        deemed to have accepted the gratification as a reward.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup170')"><h4>Section 170:- Bribery.</h4></a>

                <div class="popup" id="popup171">
                    <span class="popup-close" onclick="hidePopup('popup171')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 171</a>
                            <br> (1) Whoever voluntarily interferes or attempts to interfere with the free exercise of
                            any electoral right commits the offence of undue influence at an election.
                            <br>(2) Without prejudice to the generality of the provisions of sub-section (1), whoever—
                            <br>(a) threatens any candidate or voter, or any person in whom a candidate or voter
                            is interested, with injury of any kind; or
                            <br>(b) induces or attempts to induce a candidate or voter to believe that he or any
                            person in whom he is interested will become or will be rendered an object of Divine
                            displeasure or of spiritual censure,
                            <br>shall be deemed to interfere with the free exercise of the electoral right of such candidate or
                            voter, within the meaning of sub-section (1).
                            <br>(3) A declaration of public policy or a promise of public action or the mere exercise or
                            a legal right without intent to interfere with an electoral right, shall not be deemed to be
                            interference within the meaning of this section.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup171')"><h4>Section 171:- Undue influence at elections.</h4></a>

                <div class="popup" id="popup172">
                    <span class="popup-close" onclick="hidePopup('popup172')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 172</a>
                            <br> Whoever at an election applies for a voting paper on votes in the name of any
                            other person, whether living or dead, or in a fictitious name, or who having voted once at
                            such election applies at the same election for a voting paper in his own name, and whoever
                            abets, procures or attempts to procure the voting by any person in any such way, commits
                            the offence of personation at an election:
                            <br>Provided that nothing in this section shall apply to a person who has been authorised
                            to vote as proxy for an elector under any law for the time being in force in so far as he votes
                            as a proxy for such elector.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup172')"><h4>Section 172:- Personation at elections.</h4></a>

                <div class="popup" id="popup173">
                    <span class="popup-close" onclick="hidePopup('popup173')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 173</a>
                            <br> Whoever commits the offence of bribery shall be punished with imprisonment of
                            either description for a term which may extend to one year, or with fine, or with both:
                            <br>Provided that bribery by treating shall be punished with fine only.
                            <br>Explanation.—“Treating” means that form of bribery where the gratification consists
                            in food, drink, entertainment, or provision.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup173')"><h4>Section 173:- Punishment for bribery.</h4></a>

                <div class="popup" id="popup174">
                    <span class="popup-close" onclick="hidePopup('popup174')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 174</a>
                            <br> Whoever commits the offence of undue influence or personation at an election
                            shall be punished with imprisonment of either description for a term which may extend to
                            one year or with fine, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup174')"><h4>Section 174:- Punishment for undue influence or personation at an election.</h4></a>

                <div class="popup" id="popup175">
                    <span class="popup-close" onclick="hidePopup('popup175')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 175</a>
                            <br> Whoever with intent to affect the result of an election makes or publishes any
                            statement purporting to be a statement of fact which is false and which he either knows or
                            believes to be false or does not believe to be true, in relation to the personal character or
                            conduct of any candidate shall be punished with fine.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup175')"><h4>Section 175:- False statement in connection with an election.</h4></a>

                <div class="popup" id="popup176">
                    <span class="popup-close" onclick="hidePopup('popup176')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 176</a>
                            <br> Whoever without the general or special authority in writing of a candidate incurs
                            or authorises expenses on account of the holding of any public meeting, or upon any
                            advertisement, circular or publication, or in any other way whatsoever for the purpose of
                            promoting or procuring the election of such candidate, shall be punished with fine which
                            may extend to ten thousand rupees:
                            <br>Provided that if any person having incurred any such expenses not exceeding the
                            amount of ten rupees without authority obtains within ten days from the date on which such
                            expenses were incurred the approval in writing of the candidate, he shall be deemed to have
                            incurred such expenses with the authority of the candidate.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup176')"><h4>Section 176:- llegal payments in connection with an election.</h4></a>

                <div class="popup" id="popup177">
                    <span class="popup-close" onclick="hidePopup('popup177')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 177</a>
                            <br> Whoever being required by any law for the time being in force or any rule having
                            the force of law to keep accounts of expenses incurred at or in connection with an election
                            fails to keep such accounts shall be punished with fine which may extend to five thousand
                            rupees.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup177')"><h4>Section 177:- Failure to keep election accounts.</h4></a>

            </fieldset>
            
        </section>
    </main>

    <nav class="nav">
        <div class="nav-left">
            <a>Chapter 1 to 20</a>
            <button onclick="window.location.href='chapter8.html'">Chapter 8</button>
            <br><button onclick="window.location.href='chapter10.html'">Chapter 10</button>
            <br><button onclick="window.location.href='Study_Section.html'">Study Section</button>
        </div>
    </nav>

    <footer>
        <a href="#">FAQ</a>
        <a href="#">Contact Us</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Refund Policy</a>
        <a href="#">&copy; 2023 | LegalAid</a>
    </footer>

    
</body>
</html>
