<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 13 | Study Section | LegalAid</title>
   <!-- importing css file -->
    <link rel="stylesheet" href="chapter.css">

    <!-- for google translate -->

    <!-- Include the Google Translate API script -->
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- importing js file -->
    <script src="LegalAid.js"></script>

</head>
</head>
<body>
    <header>
        <h1 class="notranslate">LegalAid</h1>
    </header>

    <div id="google_translate_element"></div>
    <nav class="nav">
        <div class="nav-left">
            <button onclick="window.location.href='index.html'">Home</button>
            <button onclick="window.location.href='About_us.html'">About Us</button>
            <button onclick="window.location.href='help_portal.html'">Help</button>
            <button onclick="window.location.href='payment_form.html'">Payment</button>
            <button onclick="window.location.href='login_page.html'">Login</button>
        </div>
        <div class="search-bar-container">
            <input type="text" placeholder="Search Chapter" class="search-bar">
            <button type="submit" class="search-button">Search</button>
        </div>
    </nav>
    
    <main>
        <section>
            <fieldset>
                <a style="font-size: 23px;">Chapter 13 – OF CONTEMPTS OF THE LAWFUL AUTHORITY OF <br> PUBLIC SERVANTS </a>
            
                <div class="popup" id="popup206">
                    <span class="popup-close" onclick="hidePopup('popup206')">Close</span>
                    <div class="popup-content">
                        <p> <a>Section 206</a>
                            <br> Whoever absconds in order to avoid being served with a summons, notice or
                            order proceeding from any public servant legally competent, as such public servant, to issue
                            such summons, notice or order,––
                            <br>(a) shall be punished with simple imprisonment for a term which may extend to
                            one month, or with fine which may extend to five thousand rupees, or with both;
                            <br>(b) where such summons or notice or order is to attend in person or by agent, or
                            to produce a document or an electronic record in a Court shall be punished with simple
                            imprisonment for a term which may extend to six months, or with fine which may extend
                            to ten thousand rupees, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup206')"><h4>Section 206:- Absconding to avoid service of summons or other proceeding.</h4></a>
            
                <div class="popup" id="popup207">
                    <span class="popup-close" onclick="hidePopup('popup207')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 207</a>
                        <br> Whoever in any manner intentionally prevents the serving on himself, or on any
                        other person, of any summons, notice or order proceeding from any public servant legally
                        competent, as such public servant, to issue such summons, notice or order, or intentionally
                        prevents the lawful affixing to any place of any such summons, notice or order or intentionally
                        removes any such summons, notice or order from any place to which it is lawfully affixed or
                        intentionally prevents the lawful making of any proclamation, under the authority of any
                        public servant legally competent, as such public servant, to direct such proclamation to be
                        made,––
                        <br>(a) shall be punished with simple imprisonment for a term which may extend to
                        one month, or with fine which may extend to five thousand rupees, or with both;
                        <br>(b) where the summons, notice, order or proclamation is to attend in person or by
                        agent, or to produce a document or electronic record in a Court, with simple
                        imprisonment for a term which may extend to six months, or with fine which may extend
                        to ten thousand rupees, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup207')"><h4>Section 207:- Preventing service of summons or other proceeding, or preventing <br> publication thereof.</h4></a>

                <div class="popup" id="popup208">
                    <span class="popup-close" onclick="hidePopup('popup208')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 208</a>
                            <br> Whoever, being legally bound to attend in person or by an agent at a certain place
                            and time in obedience to a summons, notice, order, or proclamation proceeding from any
                            public servant legally competent, as such public servant, to issue the same, intentionally
                            omits to attend at that place or time or departs from the place where he is bound to attend
                            before the time at which it is lawful for him to depart,––
                            <br>(a) shall be punished with simple imprisonment for a term which may extend to
                            one month, or with fine which may extend to five thousand rupees, or with both;
                            <br>(b) where the summons, notice, order or proclamation is to attend in person or by
                            agent in a Court with simple imprisonment for a term which may extend to six months,
                            or with fine which may extend to ten thousand rupees, or with both.
                            <br>Illustrations.
                            <br>(a) A, being legally bound to appear before a High Court, in obedience to a
                            subpoena issuing from that Court, intentionally omits to appear. A has committed the
                            offence defined in this section.
                            <br>(b) A, being legally bound to appear before a District Judge, as a witness, in
                            obedience to a summons issued by that District Judge intentionally omits to appear. A
                            has committed the offence defined in this section.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup208')"><h4>Section 208:- Non-attendance in obedience to an order from public servant.</h4></a>

                <div class="popup" id="popup209">
                    <span class="popup-close" onclick="hidePopup('popup209')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 209</a>
                            <br> Whoever fails to appear at the specified place and the specified time as required
                            by a proclamation published under sub-section (1) of section 84 of the Bharatiya Nagarik
                            Suraksha Sanhita, 2023, shall be punished with imprisonment for a term which may extend to
                            three years, or with fine, or with both, or with community service, and where a declaration has
                            been made under sub-section (4) of that section pronouncing him as a proclaimed offender,
                            he shall be punished with imprisonment for a term which may extend to seven years and shall
                            also be liable to fine.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup209')"><h4>Section 209:- Non-appearance in response to a proclamation under section 84 of Bharatiya <br> Nagarik Suraksha Sanhita, 2023.</h4></a>

                <div class="popup" id="popup210">
                    <span class="popup-close" onclick="hidePopup('popup210')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 210</a>
                            <br>  Whoever, being legally bound to produce or deliver up any document or electronic
                            record to any public servant, as such, intentionally omits so to produce or deliver up the
                            same,––
                            <br>(a) shall be punished with simple imprisonment for a term which may extend to
                            one month, or with fine which may extend to five thousand rupees, or with both;
                            <br>(b) and where the document or electronic record is to be produced or delivered
                            up to a Court with simple imprisonment for a term which may extend to six months, or
                            with fine which may extend to ten thousand rupees, or with both.
                            <br>Illustration.
                            <br>A, being legally bound to produce a document before a District Court, intentionally
                            omits to produce the same. A has committed the offence defined in this section.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup210')"><h4>Section 210:- Omission to produce document or electronic record to public servant by <br>person legally bound to produce it.</h4></a>

                <div class="popup" id="popup211">
                    <span class="popup-close" onclick="hidePopup('popup211')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 211</a>
                            <br> Whoever, being legally bound to give any notice or to furnish information on any
                            subject to any public servant, as such, intentionally omits to give such notice or to furnish
                            such information in the manner and at the time required by law,––
                            <br>(a) shall be punished with simple imprisonment for a term which may extend to
                            one month, or with fine which may extend to five thousand rupees, or with both;
                            <br>(b) where the notice or information required to be given respects the commission
                            of an offence, or is required for the purpose of preventing the commission of an
                            offence, or in order to the apprehension of an offender, with simple imprisonment for a
                            term which may extend to six months, or with fine which may extend to ten thousand
                            rupees, or with both;
                            <br>(c) where the notice or information required to be given is required by an order
                            passed under section 394 of the Bharatiya Nagarik Suraksha Sanhita, 2023 with
                            imprisonment of either description for a term which may extend to six months, or with
                            fine which may extend to one thousand rupees, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup211')"><h4>Section 211- Omission to give notice or information to public servant by person legally <br> bound to give it.</h4></a>

                <div class="popup" id="popup212">
                    <span class="popup-close" onclick="hidePopup('popup212')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 212</a>
                            <br> Whoever, being legally bound to furnish information on any subject to any
                            public servant, as such, furnishes, as true, information on the subject which he knows or has
                            reason to believe to be false,––
                            <br>(a) shall be punished with simple imprisonment for a term which may extend to
                            six months, or with fine which may extend to five thousand rupees, or with both;
                            <br>(b) where the information which he is legally bound to give respects the
                            commission of an offence, or is required for the purpose of preventing the commission
                            of an offence, or in order to the apprehension of an offender, with imprisonment of
                            either description for a term which may extend to two years, or with fine, or with both.
                            <br>Illustrations.
                            <br> (a) A, a landholder, knowing of the commission of a murder within the limits of
                            his estate, wilfully misinforms the Magistrate of the district that the death has occurred
                            by accident in consequence of the bite of a snake. A is guilty of the offence defined in
                            this section.
                            <br>(b) A, a village watchman, knowing that a considerable body of strangers has
                            passed through his village in order to commit a dacoity in the house of Z, a wealthy
                            merchant residing in a neighbouring place, and being legally bound to give early and
                            punctual information of the above fact to the officer of the nearest police station,
                            wilfully misinforms the police officer that a body of suspicious characters passed
                            through the village with a view to commit dacoity in a certain distant place in a different
                            direction. Here A is guilty of the offence defined in this section.
                            <br>Explanation.—In section 211 and in this section the word “offence” include any act
                            committed at any place out of India, which, if committed in India, would be punishable
                            under any of the following sections, namely, 103, 105, 307, sub-sections (2), (3) and (4) of
                            section 309, sub-sections (2), (3), (4) and (5) of section 310, 311, 312, clauses (f) and (g) of
                            section 326, sub-sections (4), (6), (7) and (8) of section 331, clauses (a) and (b) of
                            section 332 and the word “offender” includes any person who is alleged to have been
                            guilty of any such act.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup212')"><h4>Section 212:- Furnishing false information.</h4></a>

                <div class="popup" id="popup213">
                    <span class="popup-close" onclick="hidePopup('popup213')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 213</a>
                            <br> Whoever refuses to bind himself by an oath or affirmation to state the truth,
                            when required so to bind himself by a public servant legally competent to require that he
                            shall so bind himself, shall be punished with simple imprisonment for a term which may
                            extend to six months, or with fine which may extend to five thousand rupees, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup213')"><h4>Section 213:- Refusing oath or affirmation when duly required by public servant to make it.</h4></a>

                <div class="popup" id="popup214">
                    <span class="popup-close" onclick="hidePopup('popup214')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 214</a>
                            <br>  Whoever, being legally bound to state the truth on any subject to any public
                            servant, refuses to answer any question demanded of him touching that subject by such
                            public servant in the exercise of the legal powers of such public servant, shall be punished
                            with simple imprisonment for a term which may extend to six months, or with fine which
                            may extend to five thousand rupees, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup214')"><h4>Section 214:- Refusing to answer public servant authorised to question.</h4></a>

                <div class="popup" id="popup215">
                    <span class="popup-close" onclick="hidePopup('popup215')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 215</a>
                            <br> Whoever refuses to sign any statement made by him, when required to sign
                            that statement by a public servant legally competent to require that he shall sign that
                            statement, shall be punished with simple imprisonment for a term which may extend to
                            three months, or with fine which may extend to three thousand rupees, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup215')"><h4>Section 215:-Refusing to sign statement.</h4></a>

                <div class="popup" id="popup216">
                    <span class="popup-close" onclick="hidePopup('popup216')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 216</a>
                            <br> Whoever, being legally bound by an oath or affirmation to state the truth on
                            any subject to any public servant or other person authorised by law to administer such
                            oath or affirmation, makes, to such public servant or other person as aforesaid, touching
                            that subject, any statement which is false, and which he either knows or believes to be
                            false or does not believe to be true, shall be punished with imprisonment of either
                            description for a term which may extend to three years, and shall also be liable to fine.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup216')"><h4>Section 216:- False statement on oath or affirmation to public servant or person authorised <br> to administer an oath or affirmation.</h4></a>

                <div class="popup" id="popup217">
                    <span class="popup-close" onclick="hidePopup('popup217')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 217</a>
                            <br> Whoever gives to any public servant any information which he knows or
                            believes to be false, intending thereby to cause, or knowing it to be likely that he will
                            thereby cause, such public servant—
                            <br>(a) to do or omit anything which such public servant ought not to do or omit
                            if the true state of facts respecting which such information is given were known by
                            him; or
                            <br>(b) to use the lawful power of such public servant to the injury or annoyance
                            of any person,
                            <br>shall be punished with imprisonment of either description for a term which may extend to
                            one year, or with fine which may extend to ten thousand rupees, or with both.
                            <br>Illustrations.
                            <br>(a) A informs a Magistrate that Z, a police officer, subordinate to such Magistrate,
                            has been guilty of neglect of duty or misconduct, knowing such information to be false,
                            and knowing it to be likely that the information will cause the Magistrate to dismiss Z. A
                            has committed the offence defined in this section.
                            <br>(b) A falsely informs a public servant that Z has contraband salt in a secret place,
                            knowing such information to be false, and knowing that it is likely that the consequence
                            of the information will be a search of Z’s premises, attended with annoyance to Z. A has
                            committed the offence defined in this section.
                            <br>(c) A falsely informs a policeman that he has been assaulted and robbed in the
                            neighbourhood of a particular village. He does not mention the name of any person as one
                            of his assailants, but knows it to be likely that in consequence of this information the
                            police will make enquiries and institute searches in the village to the annoyance of the
                            villagers or some of them. A has committed an offence under this section.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup217')"><h4>Section 217:- False information, with intent to cause public servant to use his lawful <br>power to injury of another person.</h4></a>

                <div class="popup" id="popup218">
                    <span class="popup-close" onclick="hidePopup('popup218')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 218</a>
                            <br> Whoever offers any resistance to the taking of any property by the lawful
                            authority of any public servant, knowing or having reason to believe that he is such
                            public servant, shall be punished with imprisonment of either description for a term which
                            may extend to six months, or with fine which may extend to ten thousand rupees, or with
                            both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup218')"><h4>Section 218:- Resistance to taking of property by lawful authority of a public servant.</h4></a>

                <div class="popup" id="popup219">
                    <span class="popup-close" onclick="hidePopup('popup219')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 219</a>
                            <br> Whoever intentionally obstructs any sale of property offered for sale by the
                            lawful authority of any public servant, as such, shall be punished with imprisonment of
                            either description for a term which may extend to one month, or with fine which may
                            extend to five thousand rupees, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup219')"><h4>Section 219:- Obstructing sale of property offered for sale by authority of public servant.</h4></a>

                <div class="popup" id="popup220">
                    <span class="popup-close" onclick="hidePopup('popup220')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 220</a>
                            <br> Whoever, at any sale of property held by the lawful authority of a public
                            servant, as such, purchases or bids for any property on account of any person, whether
                            himself or any other, whom he knows to be under a legal incapacity to purchase that
                            property at that sale, or bids for such property not intending to perform the obligations
                            under which he lays himself by such bidding, shall be punished with imprisonment of
                            either description for a term which may extend to one month, or with fine which may
                            extend to two hundred rupees, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup220')"><h4>Section 220:- Illegal purchase or bid for property offered for sale by authority of public servant.</h4></a>

                <div class="popup" id="popup221">
                    <span class="popup-close" onclick="hidePopup('popup221')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 221</a>
                            <br> Whoever voluntarily obstructs any public servant in the discharge of his
                            public functions, shall be punished with imprisonment of either description for a term
                            which may extend to three months, or with fine which may extend to two thousand and
                            five hundred rupees, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup221')"><h4>Section 221:- Obstructing public servant in discharge of public functions.</h4></a>

                <div class="popup" id="popup222">
                    <span class="popup-close" onclick="hidePopup('popup222')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 222</a>
                            <br> Whoever, being bound by law to render or furnish assistance to any public
                            servant in the execution of his public duty, intentionally omits to give such assistance,––
                            <br>(a) shall be punished with simple imprisonment for a term which may extend
                            to one month, or with fine which may extend to two thousand and five hundred
                            rupees, or with both;
                            <br>(b) and where such assistance be demanded of him by a public servant legally
                            competent to make such demand for the purposes of executing any process lawfully
                            issued by a Court or of preventing the commission of an offence, or suppressing a
                            riot, or affray, or of apprehending a person charged with or guilty of an offence, or
                            of having escaped from lawful custody, shall be punished with simple imprisonment
                            for a term which may extend to six months, or with fine which may extend to five
                            thousand rupees, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup222')"><h4>Section 222:- Omission to assist public servant when bound by law to give assistance.</h4></a>

                <div class="popup" id="popup223">
                    <span class="popup-close" onclick="hidePopup('popup223')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 223</a>
                            <br> Whoever, knowing that, by an order promulgated by a public servant lawfully
                            empowered to promulgate such order, he is directed to abstain from a certain act, or to take
                            certain order with certain property in his possession or under his management, disobeys
                            such direction,––
                            <br>(a) shall, if such disobedience causes or tends to cause obstruction, annoyance
                            or injury, or risk of obstruction, annoyance or injury, to any person lawfully employed,
                            be punished with simple imprisonment for a term which may extend to six months, or
                            with fine which may extend to two thousand and five hundred rupees, or with both;
                            <br>(b) and where such disobedience causes or tends to cause danger to human
                            life, health or safety, or causes or tends to cause a riot or affray, shall be punished
                            with imprisonment of either description for a term which may extend to one year, or
                            with fine which may extend to five thousand rupees, or with both.
                            <br>Explanation.—It is not necessary that the offender should intend to produce harm,
                            or contemplate his disobedience as likely to produce harm. It is sufficient that he knows of
                            the order which he disobeys, and that his disobedience produces, or is likely to produce,
                            harm.
                            <br>Illustration.
                            <br> An order is promulgated by a public servant lawfully empowered to promulgate
                            such order, directing that a religious procession shall not pass down a certain street. A
                            knowingly disobeys the order, and thereby causes danger of riot. A has committed the
                            offence defined in this section.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup223')"><h4>Section 223:- Disobedience to order duly promulgated by public servant.</h4></a>

                <div class="popup" id="popup224">
                    <span class="popup-close" onclick="hidePopup('popup224')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 224</a>
                            <br> Whoever holds out any threat of injury to any public servant, or to any person
                            in whom he believes that public servant to be interested, for the purpose of inducing that
                            public servant to do any act, or to forbear or delay to do any act, connected with the
                            exercise of the public functions of such public servant, shall be punished with imprisonment
                            of either description for a term which may extend to two years, or with fine, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup224')"><h4>Section 224:- Threat of injury to public servant.</h4></a>

                <div class="popup" id="popup225">
                    <span class="popup-close" onclick="hidePopup('popup225')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 225</a>
                            <br> Whoever holds out any threat of injury to any person for the purpose of
                            inducing that person to refrain or desist from making a legal application for protection
                            against any injury to any public servant legally empowered as such to give such protection,
                            or to cause such protection to be given, shall be punished with imprisonment of either
                            description for a term which may extend to one year, or with fine, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup225')"><h4>Section 225:- Threat of injury to induce person to refrain from applying for protection to <br>public servant.</h4></a>

                <div class="popup" id="popup226">
                    <span class="popup-close" onclick="hidePopup('popup226')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 226</a>
                            <br> Whoever attempts to commit suicide with the intent to compel or restrain any
                            public servant from discharging his official duty shall be punished with simple imprisonment
                            for a term which may extend to one year, or with fine, or with both, or with community
                            service.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup226')"><h4>Section 226:- Attempt to commit suicide to compel or restrain exercise of lawful power.</h4></a>

                
            </fieldset>
            
        </section>
    </main>

    <nav class="nav">
        <div class="nav-left">
            <a>Chapter 1 to 20</a>
            <button onclick="window.location.href='chapter12.html'">Chapter 12</button>
            <br><button onclick="window.location.href='chapter14.html'">Chapter 14</button>
            <br><button onclick="window.location.href='Study_Section.html'">Study Section</button>
        </div>
    </nav>

    <footer>
        <a href="#">FAQ</a>
        <a href="#">Contact Us</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Refund Policy</a>
        <a href="#">&copy; 2023 | LegalAid</a>
    </footer>

    
</body>
</html>
