<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 12 | Study Section | LegalAid</title>
   <!-- importing css file -->
    <link rel="stylesheet" href="chapter.css">

    <!-- for google translate -->

    <!-- Include the Google Translate API script -->
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- importing js file -->
    <script src="LegalAid.js"></script>

</head>
</head>
<body>
    <header>
        <h1 class="notranslate">LegalAid</h1>
    </header>

    <div id="google_translate_element"></div>
    <nav class="nav">
        <div class="nav-left">
            <button onclick="window.location.href='index.html'">Home</button>
            <button onclick="window.location.href='About_us.html'">About Us</button>
            <button onclick="window.location.href='help_portal.html'">Help</button>
            <button onclick="window.location.href='payment_form.html'">Payment</button>
            <button onclick="window.location.href='login_page.html'">Login</button>
        </div>
        <div class="search-bar-container">
            <input type="text" placeholder="Search Chapter" class="search-bar">
            <button type="submit" class="search-button">Search</button>
        </div>
    </nav>
    
    <main>
        <section>
            <fieldset>
                <a style="font-size: 23px;">Chapter 12 – OF OFFENCES BY OR RELATING TO PUBLIC SERVANTS </a>
            
                <div class="popup" id="popup198">
                    <span class="popup-close" onclick="hidePopup('popup198')">Close</span>
                    <div class="popup-content">
                        <p> <a>Section 198</a>
                            <br> Whoever, being a public servant, knowingly disobeys any direction of the law as
                            to the way in which he is to conduct himself as such public servant, intending to cause, or
                            knowing it to be likely that he will by such disobedience, cause injury to any person, shall be
                            punished with simple imprisonment for a term which may extend to one year, or with fine, or
                            with both.
                            <br>Illustration.
                            <br>A, being an officer directed by law to take property in execution, in order to satisfy a
                            decree pronounced in Z’s favour by a Court, knowingly disobeys that direction of law, with
                            the knowledge that he is likely thereby to cause injury to Z. A has committed the offence
                            defined in this section.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup198')"><h4>Section 198:- Public servant disobeying law, with intent to cause injury to any person.</h4></a>
            
                <div class="popup" id="popup199">
                    <span class="popup-close" onclick="hidePopup('popup199')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 199</a>
                        <br> Whoever, being a public servant,—
                        <br>(a) knowingly disobeys any direction of the law which prohibits him from requiring
                        the attendance at any place of any person for the purpose of investigation into an
                        offence or any other matter; or
                        <br>(b) knowingly disobeys, to the prejudice of any person, any other direction of
                        the law regulating the manner in which he shall conduct such investigation; or
                        <br>(c) fails to record any information given to him under sub-section (1) of
                        section 173 of the Bharatiya Nagarik Suraksha Sanhita, 2023 in relation to cognizable
                        offence punishable under section 64, section 65, section 66, section 67, section 68,
                        section 70, section 71, section 74, section 76, section 77, section 79, section 124,
                        section 143 or section 144,
                        <br>shall be punished with rigorous imprisonment for a term which shall not be less than six
                        months but which may extend to two years, and shall also be liable to fine.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup199')"><h4>Section 199:- Public servant disobeying direction under law.</h4></a>

                <div class="popup" id="popup200">
                    <span class="popup-close" onclick="hidePopup('popup200')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 200</a>
                            <br> Whoever, being in charge of a hospital, public or private, whether run by the
                            Central Government, the State Government, local bodies or any other person, contravenes
                            the provisions of section 397 of the Bharatiya Nagarik Suraksha Sanhita, 2023, shall be
                            punished with imprisonment for a term which may extend to one year, or with fine, or with
                            both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup200')"><h4>Section 200:- Punishment for non-treatment of victim.</h4></a>

                <div class="popup" id="popup201">
                    <span class="popup-close" onclick="hidePopup('popup201')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 201</a>
                            <br> Whoever, being a public servant, and being, as such public servant, charged with
                            the preparation or translation of any document or electronic record, frames, prepares or
                            translates that document or electronic record in a manner which he knows or believes to be
                            incorrect, intending thereby to cause or knowing it to be likely that he may thereby cause
                            injury to any person, shall be punished with imprisonment of either description for a term
                            which may extend to three years, or with fine, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup201')"><h4>Section 201:- Public servant framing an incorrect document with intent to cause injury.</h4></a>

                <div class="popup" id="popup202">
                    <span class="popup-close" onclick="hidePopup('popup202')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 202</a>
                            <br> Whoever, being a public servant, and being legally bound as such public servant
                            not to engage in trade, engages in trade, shall be punished with simple imprisonment for a
                            term which may extend to one year, or with fine, or with both or with community service.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup202')"><h4>Section 202:- Public servant unlawfully engaging in trade.</h4></a>

                <div class="popup" id="popup203">
                    <span class="popup-close" onclick="hidePopup('popup203')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 203</a>
                            <br> Whoever, being a public servant, and being legally bound as such public servant,
                            not to purchase or bid for certain property, purchases or bids for that property, either in his
                            own name or in the name of another, or jointly, or in shares with others, shall be punished
                            with simple imprisonment for a term which may extend to two years, or with fine, or with both;
                            and the property, if purchased, shall be confiscated.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup203')"><h4>Section 203:- Public servant unlawfully buying or bidding for property.</h4></a>

                <div class="popup" id="popup204">
                    <span class="popup-close" onclick="hidePopup('popup204')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 204</a>
                            <br> Whoever pretends to hold any particular office as a public servant, knowing that
                            he does not hold such office or falsely personates any other person holding such office, and
                            in such assumed character does or attempts to do any act under colour of such office, shall
                            be punished with imprisonment of either description for a term which shall not be less than
                            six months but which may extend to three years and with fine.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup204')"><h4>Section 204:- Personating a public servant.</h4></a>

                <div class="popup" id="popup205">
                    <span class="popup-close" onclick="hidePopup('popup205')">Close</span>
                    <div class="popup-content">
                        <p><a>Section 205</a>
                            <br> Whoever, not belonging to a certain class of public servants, wears any garb or
                            carries any token resembling any garb or token used by that class of public servants, with
                            the intention that it may be believed, or with the knowledge that it is likely to be believed, that
                            he belongs to that class of public servants, shall be punished with imprisonment of either
                            description for a term which may extend to three months, or with fine which may extend to
                            five thousand rupees, or with both.</p>
                    </div>
                </div>
                <a href="#" onclick="showPopup(event, 'popup205')"><h4>Section 205:- Wearing garb or carrying token used by public servant with fraudulent intent.</h4></a>
                
            </fieldset>
            
        </section>
    </main>

    <nav class="nav">
        <div class="nav-left">
            <a>Chapter 1 to 20</a>
            <button onclick="window.location.href='chapter11.html'">Chapter 11</button>
            <br><button onclick="window.location.href='chapter13.html'">Chapter 13</button>
            <br><button onclick="window.location.href='Study_Section.html'">Study Section</button>
        </div>
    </nav>

    <footer>
        <a href="#">FAQ</a>
        <a href="#">Contact Us</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Refund Policy</a>
        <a href="#">&copy; 2023 | LegalAid</a>
    </footer>

    
</body>
</html>
